.quote{
   background-color: #fff;
  .btns-row{
    padding: 10px;
    border: 1px solid #e5e6e9;
    //border-radius: 3px;
    box-shadow: 0 2px 6px hsla(0,0%,78%,.4);
    margin-bottom: 16px;
    button:not(:first-child){
      margin-left: 25px;
    }
  }
  .pro-info{
    width: 100%;
    padding: 10px 20px;
    .u-form-control{
      width: auto;
    }
  }
  .create-name{
    min-height: 155px;
    border: 1px solid #e5e6e9;
    -webkit-box-shadow: 0 2px 6px hsla(0,0%,78%,.4);
    box-shadow: 0 2px 6px hsla(0,0%,78%,.4);
    border-radius: 2px;
    margin-bottom: 16px;
  }
  .create-part{
    overflow: hidden;
    min-height: 80px;
    border: 1px solid #e5e6e9;
    -webkit-box-shadow: 0 2px 6px hsla(0,0%,78%,.4);
    box-shadow: 0 2px 6px hsla(0,0%,78%,.4);
    border-radius: 2px;
    margin-bottom: 16px;


  }
  .create-project{
    .table-header{
      margin: 0px;
    }
    .desc{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #e5e6e9;
      padding: 8px;
      .end{
        margin-right: 15px;
      }
    }
  }

}
