.quote{
  .btns-row{
    padding: 10px;
    button{
      margin-left: 25px;
    }
  }
  .pro-info{
    width: 100%;
    padding: 10px 20px;
    .u-form-control{
      width: auto;
    }
  }
  .create-name{
    min-height: 155px;
  }
  .create-part{
    overflow: hidden;
    min-height: 80px;
  }
  .create-project{
    height: 160px;
    background-color: #7ed321;
  }
}
